<nav class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "logo1.png", class:"navbar-logo" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">

          <% if user_signed_in? %>
            <li class="nav-item">
          <%= link_to "Profile",
               (current_user.profile ? profile_path : new_profile_path),
                class: "nav-link astro-pill" %>
            </li>
          <li class="nav-item">
            <%= link_to "My future", services_path, class: "nav-link astro-pill" %>
          </li>
          <li class="nav-item">
            <%= link_to "My past", dashboard_path, class: "nav-link astro-pill" %>
          </li>


          <li class="nav-item dropdown d-none d-sm-block">
            <a href="#"
              class="avatar-icon"
              id="navbarDropdown"
              data-bs-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false">
              <span class="avatar-initial">☾</span>
            </a>

            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Log out",
                          destroy_user_session_path,
                          data: { turbo_method: :delete },
                          class: "dropdown-item logout-pill" %>
            </div>
          </li>

          <!-- VERSION MOBILE DEL LOG OUT -->
          <li class="nav-item d-block d-sm-none">
            <%= link_to "Log out", destroy_user_session_path,
                data: { turbo_method: :delete },
                class: "nav-link logout-mobile" %>
          </li>



        <% else %>
            <li class="nav-item">
              <%= link_to "Login", new_user_session_path, class: "nav-link login-button" %>
            </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
